*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
.containar{
    background: #000;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 30%;

}
ul li{
    display: inline-block;
}
ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.contant{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto ;
}
.contant .taxt{
    width: 40%;
    color: #eee;
}
.contant .taxt h2{
    font-size: 40px;
    text-transform: uppercase;
}
.contant .taxt p{
font-size: 18px;
margin: 20px 0;
}
.contant .taxt a{
    text-decoration: none;
    background: #fff;
    color: #200303;
    padding: 8px 15px;
    border-radius: 20px;
}
.contant.imeg{
    width: 30;
}
.contant img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom:20px;
    left: 50%;
    transform:translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.3);
}





